Source: nlma
Maintainer: James Hunt <james@jameshunt.us>
Section: admin
Priority: optional
Homepage: http://nlma.jameshunt.us
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8),
               libcapture-tiny-perl,
               libio-string-perl,
               liblog-dispatch-perl,
               liblog-log4perl-perl,
               libtest-deep-perl,
               libtest-mockmodule-perl,
               libtest-simple-perl,
               libyaml-libyaml-perl,
               libyaml-perl,
               perl

Package: nlma
Architecture: all
Depends: liblog-dispatch-perl,
         liblog-log4perl-perl,
         libyaml-libyaml-perl,
         libyaml-perl,
         perl,
         ${misc:Depends}
Description: Local Monitoring Agent
 NLMA (a recursive acronym that expands to 'NLMA Local Monitoring Agent'),
 is a small daemon that can run everywhere to feed check result data into a
 centralized monitoring system like Nagios, Icinga or Bolo.
